# files listed here will not be committed.

gm_ttt_*
*.swp
objects/objDestroyableBlock.object.gmx
objects/objDestroyableBlock.object.gmx
extensions/GameMusicEmu.extension.gmx
extensions/GameMusicEmu.extension.gmx
scripts/playerStep.gml
