# files listed here will not be committed.

gm_ttt_*
*.swp
meta/out.txt
meta/output.txt
lw_*.project.gmx
#backups
#backups/*
#backups\*
*.backup0
*.backup1
*.backup0
images.tsx
*.tx
types.xml
/#backups/
\#backups/
datafiles/Music/desktop.ini
templates/*
git-quick-stats
*.sfk
*.backup0
background/templates.lnk
datafiles/Levels/Entries/background.lnk
Configs/Default/PS3/
Configs/Default/PS4/
Configs/Default/PSVita/
Configs/Default/WinPhone/
Configs/Default/XboxOne/
Configs/Default/iOS/
